.modal {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: grey;
  top: 0;
  left:0;
  opacity: .9;
  z-index: 10;
}
.modal-content {
  background-color: white;
  margin: 300px auto;
  height: 40%;
  width: 40%;
  text-align: center;
}
/* Stacking Context */
/* z-index: 0;*/
.wrapper{
  position: relative;
  z-index: 20;
}

/* Instead of showing the Modal as child of wrapper
We can show the Modal as child of the body
We can do this using React Portal.
Look at the Modal.js for details.
*/
